{% extends 'shop/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="auth">
    <h2>Register</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="form-error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}

                {% if field.errors %}
                    <div class="field-error">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="auth-button">Register</button>
    </form>
</div>
{% endblock %}
