<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Clothing Shop{% endblock %}</title>
</head>
<body>

<header>
    <h1>Shop</h1>
    <nav>
        <a href="{% url 'product_list' %}">Products</a>
        <a href="{% url 'product_add' %}">Add product</a>

        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{% url 'orders_list' %}">My Orders</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
</header>

<hr>

<main>
    {% block content %}{% endblock %}
</main>

</body>
</html>