{% extends 'shop/base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
<div class="cart">
    <h2>Cart</h2>

    {% if cart_items %}
        <ul class="cart-list">
            {% for item in cart_items %}
                <li class="cart-item">
                    {% if item.product.image %}
                        <img class="cart-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                    {% endif %}

                    <div class="cart-info">
                        <strong>{{ item.product.name }}</strong><br>
                        Quantity: {{ item.quantity }}<br>
                        Price: {{ item.total_price }} zł
                    </div>
                </li>
            {% endfor %}
        </ul>

    {% if messages %}
        <ul class="messages">
            {% for m in messages %}
                <li class="m">{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <p class="cart-total">Total: {{ total }} zł</p>

        <form method="POST" class="cart-form">
            {% csrf_token %}
            <button type="submit" class="order-button">Place Order</button>
        </form>

    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

</div>

{% endblock %}