{% extends 'shop/base.html' %}

{% block title %}My orders{% endblock %}

{% block content %}
<div class="orders">
    <h2>My orders</h2>

    {% if orders %}
        {% for order in orders %}
            <div class="order-card">
                <h3>Order {{ order.id }}</h3>
                <h4>{{ order.ordered_at }}</h4>
                <ul>
                    {% for item in order.items.all %}
                    <li class="order-item">{{ item.quantity }} x {{ item.product.name }} {{ item.product.price }} zł</li>
                    {% endfor %}
                </ul>
            <p>Total: {{ order.total_price }} zł</p>
            </div>
        {% endfor %}
    {% else %}
        <p>You have no orders yet.</p>
    {% endif %}
</div>
{% endblock %}